
/* https://www.w3schools.com/css/css_navbar.asp */
/* top navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(orange, darkorange);

}

li {
    display: inline;
    float: left;
}

li a {
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: white;
    display: block;    
}

li a:hover {
    background-color: white ;
    color: rgb(32, 68, 102)
}


/* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sideBar {
    width: 20em; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    margin-top: 5em; /* Stay at the top */
    margin-left :2em;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 2em 0 2em 0;
    float: right;

    border: 3px solid rgb(32, 68, 102);
    border-radius: 1em;

    background-color: rgb(255, 208, 0);


}

.sideBar p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.25em;
    display: block;    
    color: rgb(6, 117, 52);

}

hr {
    border-top: 0.15em dashed rgb(22, 48, 71);
    margin-top: 5em;
}

body {
    background-color: rgb(222, 248, 253);
    margin-left: 10em;
    margin-right: 10em;
}

#title {
    font: 2.5em Helvetica, arial;
    height: 4em;
    background-color: blue;
    text-align: center;

}

#title h3 {
    padding:1em;
    color: rgb(238, 255, 7);
    /* padding-top: 0.25em; */

}

.content {
    /* margin-right: 8em; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.photo {
    width: 30%;
    float:left;
    padding-right:2em;
}

#spec {
    max-width: 10em;
    margin-left: 20em;
    padding:1em;
    background-color: pink;
    font-size: 13pt;
}

p {
    font-size: 11pt;
    font-family:fantasy;

}

.section {
    margin-top: 2em;
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
}




div#license {
    height: 4em;
    margin-top: 2em;
}
