
h1, h2, h3, h4, h5 {
  font-family: "Times New Roman";
  color: rgb(5, 78, 42)

  }

p {
    color: rgb(0, 8, 4);
    font: 1.2em Serif;
    padding: 0.3em;
    line-height: 1.5em;
    
  }

body {
  background-color: rgb(253, 231, 203)
}

img {
  border: 0.25em solid rgb(5, 78, 42);
  border-radius: 1em;
  padding: 1em;
}
